{%include "user_header.html"%}
	<form method="post">
		<center><br>
		<h1>Complaint Zone</h1>
		<hr>
		<table class="table table-striped">
			<tr>
				<div class="alert alert-info" role="alert">
  <i>Fill the following form with your complaint.We will review your request and follow up with you as soon as possible.</i>
</div>
			</tr>
			<tr><th colspan="2">Reason:
					<select  name="type" required style="width: 200px" class="dropdown-item">
						<option value="Products related" selected>Products related</option>
						<option value="Shop related">Shop related</option>
						<option value="Customer Support Related">Customer Support Related</option>
						<option value="BrightMart Website related">BrightMart Website related</option>
						<option value="Other">Others</option>
					</select></th>

				<th>To:
					<select  name="shop" required style="width: 200px" class="dropdown-item">
						{% for i in data['shop'] %}
						<option value="{{i['shop_id']}}"selected>{{i['shop_name']}}</option>
						 {%endfor%}
					</select></th>
					
			</tr>
			<tr><th colspan="2" align="right">  Complaint:</th> 	
				<td><textarea cols=50 rows="3" name="com" required placeholder class="form-control"></textarea></td>
			</tr>
			<tr align="center">
				<td colspan="3"><input type="submit" name="submit" value="Send" class="btn btn-outline-danger"></td>
			</tr>
		</table>
		</center>
		<hr>
	</form>
<!-- 	<center><table class="table table-striped table-bordered" >
		<tr>
			<th>#</th>
			<th>Complaints</th>
			<th>To</th>
			<th>Type of Complaint </th>
			<th>Response</th>
		</tr>
		{% for i in data['rep'] %}
	<tr>
		<td>{{ loop.index }}</td>
		<td>{{i['complaint']}}</td>
		<td>{{i['shop_name']}}</td>
		<td>{{i['type']}}</td>
		<td>{{i['reply']}}</td>
	</tr>
	{%endfor%}
	</table></center> -->
  {% for i in data['rep'] %}
<div class="page-content page-container" id="page-content">
   <div>
      <div class="row">
         <div class="col-sm-18">
           <div class="container-fluid d-flex justify-content-left">
            <div class="list list-row card" id="sortable" data-sortable-id="0" aria-dropeffect="move">
               <div class="list-item" data-id="13" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false" style="width: 1500px;">
                  <div><a href="#" data-abc="true"><span class="w-40 avatar gd-primary">{{ loop.index }}</span></a></div>
                  <div class="flex">
                  	<div class="item-except text-muted text-sm h-1x">To: {{i['shop_name']}}</div>
                     <a href="#" class="item-author text-color" data-abc="true"><font color="red">{{i['complaint']}}</a>
                     	<div class="item-except text-muted text-sm h-1x"><font color="green">Reply: {{i['reply']}}</font></div>
                  </div>
                  <div class="no-wrap">
                     <div class="item-date text-muted text-sm d-none d-md-block">{{i['date_time']}}</div>
                  </div>
                  <div>
                  </div>
               </div>
            </div>
         </div>
        </div>     
      </div>  
   </div>
</div>
{% endfor %}                                
 <style type="text/css">            	
 body {
     background-color: #f9f9fa
 }

 .flex {
     -webkit-box-flex: 1;
     -ms-flex: 1 1 auto;
     flex: 1 1 auto
 }

 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .padding {
     padding: 5rem
 }

 .card {
     background: #fff;
     border-width: 0;
     border-radius: .25rem;
     box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
     margin-bottom: 1.5rem
 }

 .card {
     position: relative;
     display: flex;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid rgba(19, 24, 44, .125);
     border-radius: .25rem
 }
 
 .list-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word
}

.list-item.block .media {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.list-item.block .list-content {
    padding: 1rem
}

.w-40 {
    width: 40px!important;
    height: 40px!important
}

.avatar {
    position: relative;
    line-height: 1;
    border-radius: 500px;
    white-space: nowrap;
    font-weight: 700;
    border-radius: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 500px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15)
}

.avatar img {
    border-radius: inherit;
    width: 100%
}

.gd-primary {
    color: #fff;
    border: none;
    background: #448bff linear-gradient(45deg, #448bff, #44e9ff)
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.text-color {
    color: #5e676f
}

.text-sm {
    font-size: .825rem
}

.h-1x {
    height: 1.25rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

.no-wrap {
    white-space: nowrap
}

.list-row .list-item {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    padding: .75rem .625rem;
}

.list-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}

.list-row .list-item>* {
    padding-left: .625rem;
    padding-right: .625rem;
}

.dropdown {
    position: relative;
}

a:focus, a:hover {
    text-decoration: none;
}

list-item{
    background:white;
}

                 </style>   
</body>

</html>