{%include"user_header.html"%}
<main id="main">
<!-- End Clients Section -->
    <section id="WhyBright" class="features section-bg" style="background-image: linear-gradient(to  right, #fff, #a5e6f5);">
      <div class="container" >
        <div class="row content">

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="/static/assets/img/ency.gif" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Step #1 : Card Registration</h3>
            <p class="fst-italic">
              Goto to<font color="blue"><b>"Card Register"</b></font> enter the card details and click <font color="blue"><input type="submit" style="background-color: #0693cd;  border:0;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  font-size:10px;
  font-weight: bold;
  line-height: 1.0;
  padding: 10px;
  width: 100px" name="regcard"  value="Register"></font> button.
            </p>
            <p>
              Conformation mail along with the<font color="green"><b> Purchase Token</b></font> will send to the registered mail.
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="/static/assets/img/pay.gif" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5" data-aos="fade-left">
            <h3>Step #2 : Select items and proceed to Pay</h3>
            <p>Once all the items are added <b>Your Cart</b> procced to make Purchase!
          </div>
        </div>
<div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="/static/assets/img/click1.gif" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Step #3 : Paste the token and verify your card!</h3>
            <p class="fst-italic">
             Paste the <font color="green"><b>'Purchase Token'</b></font> recieved and click <input id="edcy" type="submit" name="dd" value="CHECK" style="background-color: green;  border:0;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-size:16px;
  font-weight: bold;
  line-height: 1.4;
  padding: 4px;
  height: 30px;
  width: 80px"> to verify the card!
            </p>
            <p>
              User can verify the details of card choosen for purchase, before proceeding to pay <br>by simply clicking the <font color="green"><b>CHECK</b></font> button.
            </p>
          </div>
        </div>

         <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="/static/assets/img/click2.gif" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5" data-aos="fade-left">
            <h3>Step #4 : Confirm the card and proceed to pay</h3>
            <p>After verifying the card click <input type="submit" style="background-color: #0693cd;  border:0;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  font-size:16px;
  font-weight: bold;
  line-height: 0.70;
  padding: 10px;
  width: 100px" name="pay"  value="Pay"/> button that brings you to complete the transations with your respective bank.
          </div>
        <!-- <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="/static/assets/img/features-4.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Quas et necessitatibus eaque impedit ipsum animi consequatur incidunt in</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
          </div>
        </div> -->

      </div>
    </section>

{%include"public_footer.html"%}