<!DOCTYPE html>
<html>
<head>
	<title>STOCK</title>
</head>
<body>
	<form method="post">
		<center>
		<h1>Stock Details</h1>
		<hr>
		<table class="table table-striped">
			<tr>
				<th>Quantity</th>
				<td><input type="text" name="Sqnty" placeholder="Stock Quantity"></td>
			</tr>
			<tr>
				<th>Date:</th>
				<td><input type="date" name="sdate"></td>
			</tr>
			<tr>
				<th>Time:</th>
				<td> <input type="time" name="stime">
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" name="login" value="UPDATE STOCK"></td>
			</tr>
		</table>
		</center>
		
	</form>
</body>
</html>