<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Admin</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/adminassets/img/favicon.png" rel="icon">
  <link href="/static/adminassets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/adminassets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/adminassets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/adminassets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/adminassets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/adminassets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/adminassets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/adminassets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.10.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/static/adminassets/img/BrightMart.png" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Welome Admin</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="/specialBlock" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="/ad_shops" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Partners</span></a></li>
          <li><a href="/ad_productcat" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Categories</span></a></li>
          <li><a href="/ad_product" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Products</span></a></li>
          <li><a class="nav-link scrollto" href="/ad_stock"><i class="bx bx-book-content"></i> <span>Stock Room</span></a></li>
          <li><a href="/ad_complaint" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Complaints</span></a></li>
          <li><a href="/ad_cust" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Clients</span></a></li>
          <li><a href="/" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Logout</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->